<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to Mosh University</h1>
    <h3>
      This is where you can manage and update your curriculum. We wish you good
      luck ....
    </h3>
  </div>
</div>
<div class="container ">
  <h1>The manager's remarks...</h1>
  <br />
  <h3>
    <span>Dear students and teachers</span><br />
    <span> I wish everyone a successful and fruitful school year!</span><br /><br>
    <span> Principal Moshiko.</span>
  </h3>
</div>
<br />
<br />
<hr />
<footer class="container-fluid text-center">
  <h1>Mosh University</h1>
</footer>
