 .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 20%;
    margin: 0 auto;
}
label{
    font-weight: bold;
}
.adminH5{
    color: green;
}
.studentH5{
    color: blue;
}

.page-background{
   background-color:  hsla(202, 84%, 51%, 0.418);
}