<div
  #openModal
  data-toggle="modal"
  data-target="#modal"
  data-whatever="@mdo"
></div>
<div
  class="modal fade page-background"
  id="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAdminLogIn" class="modal-title adminH5" id="modalLabel">
          Admin change password
        </h5>
        <h5
          *ngIf="isStudentLogIn"
          class="modal-title studentH5"
          id="modalLabel"
        >
          Student change password
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #changePasswordForm="ngForm"
          (ngSubmit)="onSubmit(changePasswordForm)"
        >
          <p class="alert-primary" *ngIf="message">{{ message }}</p>
          <div class="form-group">
            <label for="newPassword" class="col-form-label">New password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              ngModel
              required
              minlength="6"
            />
          </div>
          <div class="form-group">
            <label for="confirmNewPassword" class="col-form-label"
              >Confirm New password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmNewPassword"
              name="confirmNewPassword"
              ngModel
              required
              minlength="6"
            />
          </div>
          <div class="modal-footer">
            <button
              #closeBottun
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              [disabled]="!changePasswordForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Change password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
